entrypoint = "README.md"
modules = ["nodejs-22", "python-3.11", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["libxcrypt"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Talkalot Backend"

[[workflows.workflow]]
name = "Talkalot Backend"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 5000

[agent]
expertMode = true

[deployment]
deploymentTarget = "autoscale"
run = ["python", "main.py"]
