entrypoint = "README.md"
modules = ["nodejs-22", "python-3.11", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["libxcrypt"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Dev Server"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "EXPO_PACKAGER_PROXY_URL=https://$REPLIT_DEV_DOMAIN REACT_NATIVE_PACKAGER_HOSTNAME=$REPLIT_DEV_DOMAIN npx expo start"

[[workflows.workflow]]
name = "EAS Init"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas init"

[[workflows.workflow]]
name = "EAS Update"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas update --auto"

[[workflows.workflow]]
name = "EAS Publish Preview iOS"
mode = "sequential"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build --platform ios --profile preview"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "EAS Publish Preview Android"
mode = "sequential"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build --platform android --profile preview"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Talkalot Backend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "EAS Register Device"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "EAS Publish Preview iOS"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "EAS Publish Preview Android"

[[workflows.workflow]]
name = "Talkalot Backend"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 5000

[[workflows.workflow]]
name = "EAS Register Device"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas device:create"

[workflows.workflow.metadata]
outputType = "console"

[agent]
expertMode = true

[deployment]
deploymentTarget = "vm"
run = ["python", "main.py"]
